@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Sistema de Controle de Alunos</h1>
    <div>
        <p>Este é um sistema de controle de alunos desenvolvido em C# com ASP.NET Core.</p>
         <div class="display-3"> 
             
         </div>
    </div>
</div>
